@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap');

$merah: #ec5b53;
$biru: #002d5b;
$merah-gelap: #a8362f;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .logo {
    font-size: 2.5em;
    color: black;
    cursor: pointer;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    column-gap: 30px;

    li a {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      color: black;
      transition: 0.3s;
      position: relative;
      text-transform: capitalize;
    }

    li a::after {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: $biru;
      transform: scale(0);
      transition: 0.3s;
    }

    li a:hover::after {
      transform: scale(1);
    }
  }

  .button {
    background-color: $merah;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    text-transform: capitalize;
  }

  .button:hover {
    background-color: $merah-gelap;
  }
}

.main {
  display: grid;
  grid-template-areas: 'sidebar konten';
  grid-template-rows: 84vh;
  grid-template-columns: 100px 1fr;

  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;

    .logo-aside {
      color: $biru;
      font-size: 1.8em;
      cursor: pointer;
      transition: 0.3s;
    }

    .logo-aside:hover {
      color: $merah;
    }
  }

  .konten {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero {
      width: 80vh;

      h1 {
        font-size: 3.5em;
        font-family: 'Playfair Display', serif;
        color: $biru;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      .button {
        display: inline-block;
        background-color: $merah;
        margin-top: 50px;
        margin-left: 20px;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        color: #fff;
      }

      .button:hover {
        background-color: $merah-gelap;
      }
    }
  }
}

.aul {
  position: absolute;
  top: -433px;
  right: 1px;
  z-index: -1;
  width: 120vh;
}
